.btn {
    -fx-background-color: #515151;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-view .scroll-bar * {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.greenBtn {
    -fx-background-color: #307c30;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.arrowBtn {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.runBtn {
    -fx-background-color: #ff2c2c;
}

.slideBar {
    -fx-background-color: #c0c0c0;
}

.jfx-tab-pane {
    -fx-background-color: #e6e6e6;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #006600;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #c0c0c0;
}

.listView {
    -fx-background-color: #e6e6e6;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #515151;
}

.listViewTitle {
    -fx-background-color: #434343;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-padding: 3px;
    -fx-font-size: 15;
    -fx-background-radius: 5px 5px 0 0;
}